footer {
  background-color: $background-color;
  color: white;
  min-height: 10vh;
  padding: 0% 5%;
  @include flexbox(space-between, center, row);

  ul {
    @include flexbox(flex-end, center, row);
    img {
      width: 50%;
    }
  }
}
