*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: $header1;
}

h2 {
  font-size: $header2;
}

h3 {
  font-size: $header3;
}

h4 {
  font-size: $header4;
}

li,
button,
label,
input,
a,
p {
  font-size: $text;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $gray-text;
}
