$header1: 2.5rem;
$header2: 4rem;
$header3: 2rem;
$header4: 2.5rem;
$text: 2.5rem;
$gradient: liner-gradient(left, #38d39f, #38a4d3);
$background-colo: #154353;
$gray-text: #2c2c2c;

@mixin flexbox($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
