.site {
  .mainHead {
    width: 95%;
    margin: 0 0 0 auto;

    .navigation {
      @include flexbox(space-between, center, row);
      min-height: 10vh;
      width: 60%;
      flex-wrap: wrap;

      &__logo {
        @include flexbox(flex-start, center, row);
        flex: 1 1 10rem;
        h1 {
          margin: 2rem;
        }
      }

      &__items {
        @include flexbox(space-around, center, row);
        flex: 1 1 40rem;
      }

      .active {
        background: $gray-text;
        color: white;
        padding: 1rem 3rem;
        border-radius: 1.1rem;
      }
    }
  }

  .intro {
    min-height: 90vh;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    @include flexbox(space-between, center, row);

    &__text {
      h2 {
        font-size: 8rem;
        padding-top: 2rem;
        background: $gradient;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        width: fit-content;
      }

      h3 {
        font-size: 6rem;
        padding: 2rem 0;
      }

      p {
        padding-top: 2rem;
        color: $gray-text;
      }

      .intro__socialLinks {
        margin-top: 4rem;
        a {
          margin-right: 5rem;
        }
      }
    }

    &__image {
      &--person {
        width: 100%;
        height: 100%;
      }

      &--splash {
        position: absolute;
        top: 0%;
        right: 0%;
        height: 100%;
        transform: rotateZ();
        z-index: -1;
      }
    }

    &__text,
    &__image {
      flex: 1 1 40rem;
    }
  }
}

#plant-left {
  animation: plantMove 1.5s ease-in-out infinite alternate;
}

#plant-right {
  animation: plantMove 1.5s ease-in-out infinite alternate 0.5s;
}

#me {
  animation: me 1s ease-in-out infinite alternate;
  transform-origin: bottom;
}

#clock-arrow {
  animation: clock 5s linear infinite;
  transform-box: fill-box;
  transform-origin: bottom;
}

// Animations
@keyframes plantMove {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-20%);
  }
}

@keyframes me {
  0% {
    transform: rotatez(-3.5deg);
  }
  100% {
    transform: rotatez(3.5deg);
  }
}

@keyframes clock {
  0% {
    transform: rotatez(0deg);
  }
  100% {
    transform: rotatez(360deg);
  }
}
