*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.site .mainHead {
  width: 95%;
  margin: 0 0 0 auto;
}

.site .mainHead .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  width: 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site .mainHead .navigation__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

.site .mainHead .navigation__logo h1 {
  margin: 2rem;
}

.site .mainHead .navigation__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.site .mainHead .navigation .active {
  background: #2c2c2c;
  color: white;
  padding: 1rem 3rem;
  border-radius: 1.1rem;
}

.site .intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.site .intro__text h2 {
  font-size: 8rem;
  padding-top: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#38d39f), to(#38a4d3));
  background: linear-gradient(left, #38d39f, #38a4d3);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.site .intro__text h3 {
  font-size: 6rem;
  padding: 2rem 0;
}

.site .intro__text p {
  padding-top: 2rem;
  color: #2c2c2c;
}

.site .intro__text .intro__socialLinks {
  margin-top: 4rem;
}

.site .intro__text .intro__socialLinks a {
  margin-right: 5rem;
}

.site .intro__image--person {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.site .intro__image--splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  -webkit-transform: rotateZ();
          transform: rotateZ();
  z-index: -1;
}

.site .intro__text, .site .intro__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60rem;
          flex: 1 1 60rem;
}

#plant-left {
  -webkit-animation: plantMove 1.5s ease-in-out infinite alternate;
          animation: plantMove 1.5s ease-in-out infinite alternate;
}

#plant-right {
  -webkit-animation: plantMove 1.5s ease-in-out infinite alternate 0.5s;
          animation: plantMove 1.5s ease-in-out infinite alternate 0.5s;
}

#me {
  -webkit-animation: me 1s ease-in-out infinite alternate;
          animation: me 1s ease-in-out infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#clock-arrow {
  -webkit-animation: clock 5s linear infinite;
          animation: clock 5s linear infinite;
  transform-box: fill-box;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes plantMove {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

@keyframes plantMove {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

@-webkit-keyframes me {
  0% {
    -webkit-transform: rotatez(-3.5deg);
            transform: rotatez(-3.5deg);
  }
  100% {
    -webkit-transform: rotatez(3.5deg);
            transform: rotatez(3.5deg);
  }
}

@keyframes me {
  0% {
    -webkit-transform: rotatez(-3.5deg);
            transform: rotatez(-3.5deg);
  }
  100% {
    -webkit-transform: rotatez(3.5deg);
            transform: rotatez(3.5deg);
  }
}

@-webkit-keyframes clock {
  0% {
    -webkit-transform: rotatez(0deg);
            transform: rotatez(0deg);
  }
  100% {
    -webkit-transform: rotatez(360deg);
            transform: rotatez(360deg);
  }
}

@keyframes clock {
  0% {
    -webkit-transform: rotatez(0deg);
            transform: rotatez(0deg);
  }
  100% {
    -webkit-transform: rotatez(360deg);
            transform: rotatez(360deg);
  }
}

.site .projects {
  width: 90%;
  margin: auto;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.site .projects__travely, .site .projects__elitePhotography {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  margin: 3rem 0;
  padding: 2rem 0;
}

.site .projects__travely h2, .site .projects__elitePhotography h2 {
  margin-bottom: 2rem;
}

.site .projects__travely img, .site .projects__elitePhotography img {
  width: 85%;
}

.site .form__section {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 3rem;
}

.site .form__section form {
  padding: 3rem 10rem;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2rem;
}

.site .form__section form input,
.site .form__section form textarea {
  margin: 2rem;
  padding: 0.4rem;
}

.site .form__section form input:focus,
.site .form__section form textarea:focus {
  outline: 2px solid black;
}

.site .form__section form textarea {
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
}

.site .form__section form button {
  width: 100%;
  padding: 2rem;
  background-color: #154353;
  color: white;
}

.site .form__section form button:focus {
  background: #388d89;
}

footer {
  background-color: #154353;
  color: white;
  min-height: 10vh;
  padding: 0% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer ul img {
  width: 50%;
}

@media screen and (max-width: 1331px) {
  html {
    font-size: 45%;
  }
  .site .mainHead {
    width: 100%;
  }
  .site .mainHead .navigation {
    width: 100%;
  }
  .site .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .site .intro__image {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .site .intro__image svg {
    width: 70%;
  }
  .site .intro__image--splash {
    display: none;
  }
}

@media screen and (max-width: 592px) {
  html {
    font-size: 40%;
  }
  .site .mainHead .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .site .mainHead .navigation__logo {
    padding-top: 1rem;
  }
  .site .mainHead .navigation__items {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding: 5rem 0;
    width: 100%;
  }
  .site .intro__image {
    text-align: center;
    margin-top: 10rem;
  }
  .site .intro__text {
    text-align: center;
  }
  .site .intro__text h2 {
    width: 100%;
    text-align: center;
  }
  .site .intro__socialLinks {
    margin: 5rem 0 0 5rem;
  }
  .site .intro__socialLinks img {
    width: 13%;
  }
  .site form {
    padding: 0;
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */